@import "../../Assests/main.scss";

.homesection{
    display: flex;
    width: 95%;
    margin: 0 auto;
    gap: 1rem;

    main{
        padding-top: 2%;
        width: 70%;
    }

    aside{
        padding-top: 2%;
        background-color: #b7eeff;
        width: 30%;
    }
}